# 머신 러닝 실습
## 데이터 :
https://www.kaggle.com/c/nyc-taxi-trip-duration/data

### 1. 정보 단계 : 수집, 가공
* 문제 & 답 컬럼 선택 : X(N개도 가능) & Y
* 선택 컬럼에 문제 여부 판단.

### 2. 교육 단계 : 머신 대상
* 데이터 split
* 교육(Linear Regression)
* 모델 점수 확인(train, test)

### 3. 서비스 단계 : 고객 응대¶
* pickle file로 저장, 불러오기
* predict
=> 분석 : model 점수를 보고 자신의 의견(제일 상단)

In [1]:
import sklearn

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('./files/train.csv')
data

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435
...,...,...,...,...,...,...,...,...,...,...,...
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1458644 non-null  object
 1   vendor_id           1458644 non-null  int64
 2   pickup_datetime     1458644 non-null  object
 3   dropoff_datetime    1458644 non-null  object
 4   passenger_count     1458644 non-null  int64
 5   pickup_longitude    1458644 non-null  float64
 6   pickup_latitude     1458644 non-null  float64
 7   dropoff_longitude   1458644 non-null  float64
 8   dropoff_latitude    1458644 non-null  float64
 9   store_and_fwd_flag  1458644 non-null  object
 10  trip_duration       1458644 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

In [5]:
data2 = data.copy()

In [6]:
data2['dif_longitude'] = np.abs(data2['pickup_longitude'] - data2['dropoff_longitude'])

In [7]:
data2['dif_latitude'] = np.abs(data2['pickup_latitude'] - data2['dropoff_latitude'])

In [8]:
data2['dist'] = np.sqrt(np.power(data2['dif_longitude'],2) + np.power(data2['dif_latitude'],2))

In [9]:
data2['dist_m'] = data2['dif_longitude'] - data2['dif_latitude']

In [10]:
# data2['dropoff_datetime'] - data2['pickup_datetime']

In [11]:
data2

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,dif_longitude,dif_latitude,dist,dist_m
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,0.017525,0.002335,0.017680,0.015190
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,0.019066,0.007412,0.020456,0.011654
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,0.026306,0.053852,0.059934,-0.027546
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,0.002228,0.013252,0.013438,-0.011024
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,0.000130,0.010689,0.010690,-0.010559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778,0.012711,0.005352,0.013791,0.007359
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655,0.030762,0.049168,0.057998,-0.018406
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764,0.045303,0.061428,0.076327,-0.016125
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373,0.007446,0.008045,0.010962,-0.000599
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198,0.006729,0.008835,0.011106,-0.002106

# 정보 단계

In [12]:
x = data2[['passenger_count','dist']]
y = data2[['trip_duration']]

In [13]:
x.shape, y.shape

((1458644, 2), (1458644, 1))

# 교육 단계
## 데이터 split

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((1093983, 2), (364661, 2), (1093983, 1), (364661, 1))

## 교육: Linear Regression

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
lr = LinearRegression()

In [18]:
lr.fit(X_train, Y_train)

LinearRegression()

In [19]:
lr.coef_, lr.intercept_

(array([[   27.15148304, 10695.49583775]]), array([537.54067329]))

In [20]:
lr.score(X_train,Y_train)

0.007521402634720564

In [21]:
lr.score(X_test,Y_test)

0.025601436280980883

## 서비스 단계

In [22]:
import pickle

In [23]:
pickle.dump(lr, open('./saves/ny_taxi_trip.pkl', 'wb'))