# 1. 정보 단계

In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('./files/advertising.xls')

In [3]:
data

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0
...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,2016-02-11 21:49:00,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,2016-04-22 02:07:01,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,2016-02-01 17:24:57,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,2016-03-24 02:35:54,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,2016-06-03 21:43:21,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   datetime64[ns]
 9   Clicked on Ad             1000 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 78.2+ KB

In [5]:
x = data[['Daily Time Spent on Site','Age','Area Income','Daily Internet Usage','Male']]
y = data.iloc[:, -1:]

# 2. 교육 단계

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((750, 5), (250, 5), (750, 1), (250, 1))

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
lr = LogisticRegression()

In [10]:
lr.fit(x_train, y_train)

c:\python\python36\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [11]:
lr.coef_, lr.intercept_

(array([[-6.34049288e-02,  2.54602170e-01, -1.52283628e-05,
         -2.21846811e-02,  1.54908840e-03]]),
 array([0.00524252]))

In [12]:
pred_train = lr.predict(x_train)
pred_train[100:104]

array([1, 1, 1, 0], dtype=int64)

In [13]:
lr.predict_proba(x_train[100:104])

array([[0.04287299, 0.95712701],
       [0.14105656, 0.85894344],
       [0.05812007, 0.94187993],
       [0.97601906, 0.02398094]])

In [14]:
y_train[100:104]

     Clicked on Ad
78               1
765              1
938              1
689              0

In [15]:
from sklearn import metrics

In [16]:
print(metrics.classification_report(y_train, pred_train))

              precision    recall  f1-score   support

           0       0.86      0.92      0.89       381
           1       0.91      0.85      0.88       369

    accuracy                           0.89       750
   macro avg       0.89      0.88      0.89       750
weighted avg       0.89      0.89      0.89       750

In [17]:
metrics.confusion_matrix(y_train, pred_train)

array([[350,  31],
       [ 55, 314]], dtype=int64)

In [18]:
pred_test = lr.predict(x_test)
pred_test[100:104]

array([1, 0, 0, 1], dtype=int64)

In [19]:
lr.predict_proba(x_test[100:104])

array([[0.0424476 , 0.9575524 ],
       [0.90980566, 0.09019434],
       [0.94655593, 0.05344407],
       [0.22235668, 0.77764332]])

In [20]:
y_test[100:104]

     Clicked on Ad
302              1
475              0
272              0
723              0

In [21]:
print(metrics.classification_report(y_test, pred_test))

              precision    recall  f1-score   support

           0       0.91      0.97      0.93       119
           1       0.97      0.91      0.94       131

    accuracy                           0.94       250
   macro avg       0.94      0.94      0.94       250
weighted avg       0.94      0.94      0.94       250

In [22]:
metrics.confusion_matrix(y_test, pred_test)

array([[115,   4],
       [ 12, 119]], dtype=int64)

# 3. 서비스

In [23]:
import pickle

In [24]:
pickle.dump(lr, open('./saves/ad.pkl', 'wb'))

In [25]:
ad_load = pickle.load(open('./saves/ad.pkl','rb'))

In [26]:
type(ad_load)

sklearn.linear_model._logistic.LogisticRegression

In [27]:
ad_load.predict(x_test)[100:104]

array([1, 0, 0, 1], dtype=int64)

In [28]:
y_test[100:104]

     Clicked on Ad
302              1
475              0
272              0
723              0